@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.logo__name {
  font-size: 50px;
  color: white;
  padding: 27px 0;
}

.footer__container {
  padding: 0 0 0 120px;
  background-color: #282828;
}
.footer__container * {
  color: white;
}
.footer__container .footer__info {
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  gap: 178px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__list .footer__el {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.footer__list .footer__el .el__text {
  font-size: 35px;
}

.title {
  font-size: 45px;
  padding-bottom: 43px;
}

.header .header__container {
  display: flex;
  align-items: center;
  background-color: #3533A1;
  padding: 0 0 0 120px;
}
.header .header__container .header__name {
  font-size: 50px;
  color: white;
  margin-right: 77px;
  padding: 27px 0;
}
.header .header__container .header__navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header__container .header__navigation * {
  font-size: 25px;
}
.header .header__container .header__navigation .navigation__search {
  width: 538px;
}
.header .header__container .header__navigation .navigation__button {
  width: 260px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 12px 25px;
  color: white;
}
.header .header__container .header__navigation .big {
  width: 285px;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.main__container {
  background-color: #1B1B1B;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
}
.main__container * {
  color: white;
}
.main__container .main__back {
  padding: 43px 0;
  display: flex;
  align-items: center;
  gap: 43px;
}
.main__container .main__back .back__title {
  font-size: 35px;
}
.main__container .main__info {
  display: flex;
  margin-bottom: 92px;
}
.main__container .main__info .info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container .main__info .info__content .content__title {
  font-size: 45px;
  margin-bottom: 36px;
}
.main__container .main__info .info__content .content__conditions {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  gap: 37px;
  background-color: #3533A1;
  padding: 48px 0 48px 57px;
  margin-left: 160px;
}
.main__container .main__info .info__content .content__conditions .condition {
  font-size: 25px;
  padding: 23px 29px;
  background-color: #D9D9D9;
  color: black;
}
.main__container .main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  margin-bottom: 70px;
}
.main__container .main__content .content__price {
  background-color: #3533A1;
  display: flex;
  flex-wrap: wrap;
  max-width: 1101px;
  padding: 51px 0 0 51px;
}
.main__container .main__content .content__price .price__block {
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 29px;
  padding: 7px 53px 6px 17px;
  margin-left: 51px;
  margin-bottom: 40px;
}
.main__container .main__content .content__price .price__block .block__money {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.main__container .main__content .content__button {
  font-size: 35px;
  padding: 18px 206px;
  background-color: #1B9C10;
}
.main__container .main__content .content__instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  background-color: #3533A1;
  padding: 27px 200px;
}
.main__container .main__content .content__instructions * {
  text-align: start;
}
.main__container .main__content .content__instructions .instruction__title {
  font-size: 35px;
}
.main__container .main__content .content__instructions .instruction__text {
  font-size: 30px;
}