@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header .header__container .header__name {
  font-size: 35px;
  margin-right: 0px;
}
.header .header__container .header__navigation .navigation__button {
  font-size: 19px;
  padding: 12px 20px;
}
.header .header__container .header__navigation .big2 {
  max-width: 242px;
}
.header .header__container .header__navigation .navigation__search {
  max-width: 185px;
  font-size: 20px;
}

.footer__container {
  padding: 0 0 0 10vw;
}
.footer__container .footer__info {
  gap: 20vw;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__list .footer__el .el__text {
  font-size: 25px;
  max-width: 214px;
}

.title {
  font-size: 30px;
}

.main__container .main__top {
  padding-left: 30px;
}
.main__container .main__top .top__img {
  max-width: 300px;
}
.main__container .main__top .top__block .block__title {
  font-size: 35px;
}
.main__container .main__top .top__block .block__text {
  font-size: 25px;
}
.main__container .main__top .top__block .block__button {
  gap: 10px;
}
.main__container .main__top .top__block .block__button .button {
  padding: 12px 25px;
}
.main__container .bottom .main__bottom {
  gap: 4vw;
}
.main__container .bottom .main__bottom .bottom__info {
  max-width: 50%;
}
.main__container .bottom .main__bottom .bottom__info .info__button .button__text {
  font-size: 25px;
}
.main__container .bottom .main__bottom .bottom__info .info__drop {
  max-width: 70%;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__instruction .text {
  font-size: 20px;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__faq .text {
  font-size: 20px;
}
.main__container .bottom .main__bottom .bottom__form {
  max-width: 35vw;
}
.main__container .bottom .main__bottom .bottom__form .block {
  max-width: 90%;
}
.main__container .bottom .main__bottom .bottom__form .form__money .money__title {
  font-size: 25px;
  max-width: 80%;
}
.main__container .bottom .main__bottom .bottom__form .form__money .input__money {
  font-size: 25px;
  max-width: 80%;
}
.main__container .bottom .main__bottom .bottom__form .form__login .input__login {
  font-size: 25px;
  max-width: 70%;
}
.main__container .bottom .main__bottom .bottom__form .form__login .login__button {
  font-size: 15px;
}
.main__container .bottom .main__bottom .bottom__form .form__promo .input__promo {
  font-size: 25px;
  max-width: 80%;
}
.main__container .bottom .main__bottom .bottom__form .form__end .end__title {
  font-size: 25px;
}
.main__container .bottom .main__bottom .bottom__form .form__end .end__donate {
  font-size: 25px;
}
.main__container .bottom .main__bottom .bottom__form .form__end .end__donate img {
  max-width: 70%;
}