@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header .header__container .header__name {
  font-size: 35px;
  margin-right: 0px;
}
.header .header__container .header__navigation .navigation__button {
  font-size: 19px;
  padding: 12px 20px;
}
.header .header__container .header__navigation .big2 {
  max-width: 242px;
}
.header .header__container .header__navigation .navigation__search {
  max-width: 185px;
  font-size: 20px;
}

.footer__container {
  padding: 0 0 0 10vw;
}
.footer__container .footer__info {
  gap: 20vw;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__list .footer__el .el__text {
  font-size: 25px;
  max-width: 214px;
}

.title {
  font-size: 30px;
}

.main__container .main__order .order__buttons .order__button {
  font-size: 35px;
}