.main__container .main__top {
  padding-left: 0;
  padding-top: 20px;
}
.main__container .main__top .top__block .block__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.main__container .main__top .top__block .block__text {
  padding-bottom: 20px;
  font-size: 20px;
}
.main__container .main__top .top__block .block__button .button {
  font-size: 20px;
}
.main__container .bottom .main__bottom .bottom__info {
  max-width: 80%;
}
.main__container .bottom .main__bottom .bottom__info .info__button {
  justify-content: space-between;
}
.main__container .bottom .main__bottom .bottom__form {
  max-width: 70vw;
  padding-bottom: 40px;
}