.footer__container{
    padding: 0 0 0 10vw;
    .footer__info{
        gap: 20vw;
    }
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .footer__el{
        .el__text{
            font-size:25px;
            max-width: 214px;
        }
    }
}
.title{
    font-size:30px;
}