@import './header-mobile.scss', './footer-mobile.scss';

.main__container {
    .main__back{
        padding: 20px 0;
        .back__title{
            font-size: 25px;
        }
    }
    .main__content {
        .content__galery {
            .galery__left {
                .galery__left-img {
                    .left-img {
                        width: 90vw;
                    }
                }
                .galery__left-select{
                    max-width: 90vw;
                }
                .galery__left-rewiews{
                    text-align: center;
                }
            }
            .galery__right{
                .galery__right-title{
                    font-size: 30px;
                }
                .galery__right-tags{
                    .tag{
                        padding: 9px 37px;
                    }
                }
                .galery__right-choose{
                    padding-left: 16px;
                    .choose__payment{
                        flex-direction: column;
                        .payment__button{
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
        .content__text{
            .content__text-first{
                .first__title{
                    font-size: 21px;
                }
                .first__sys{
                    padding-right: 0;
                    *{
                        font-size: 16px;
                    }
                }
            }
            .content__text-second{
                .second__title{
                    margin: 0 10px;
                }
            }
            .content__text-third{
                .third__title{
                    padding: 0 15px 0 0;
                }
            }
        }
    }
}