@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header .header__container .header__navigation {
  display: flex;
  flex-direction: column-reverse;
}
.header .header__container .burger {
  margin-top: 20px;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 10px;
}
.header .header__container .burger span {
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
}

.footer__container {
  padding: 0;
}
.footer__container .footer__info {
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.main__container .main__top {
  flex-direction: column;
  align-items: center;
}
.main__container .main__top img {
  margin-right: 0;
}
.main__container .main__top .top__img {
  margin-right: 0;
  margin-bottom: 40px;
}
.main__container .bottom .main__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container .bottom .main__bottom .bottom__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container .bottom .main__bottom .bottom__info .info__button {
  width: 80vw;
  gap: 20px;
  padding: 18px 20px 18px 20px;
}
.main__container .bottom .main__bottom .bottom__info .info__button .button__text {
  font-size: 17px;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__instruction * {
  text-align: center;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container .bottom .main__bottom .bottom__info .info__drop .drop__faq * {
  text-align: center;
}
.main__container .bottom .main__bottom .bottom__form .form__login .input__login {
  font-size: 20px;
}
.main__container .bottom .main__bottom .bottom__form .form__button {
  font-size: 20px;
}